#footer {
    position: relative;
    bottom: 0;
    left:0;
    right: 0;
    padding: 5em 0 3em 0;
    background-color: #f7f7f7;
    text-align: center;
        .icons {
            font-size: 1.5em;
            margin: 0 0 2em 0;
            padding-left: 0;
            li {
                display: inline-block;
                padding: 0 0.75em 0 0;
                a::before {
                    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
                    background-color: #7bd2ed;
                    border-radius: 100%;
                    color: #ffffff;
                    display: inline-block;
                    font-size: 1.5rem;
                    line-height: 2.25em;
                    width: 2.25em;
                }
            }
        }
        .copyright {
            color: #aaaaaa;
            font-size: 0.8em;
        }

    }