.contact-pop{
    display: flex;
    padding: 0 8em;
}

.contact-div{
   background-color:#f7f8f9;
   padding: 3em;
   div{
       display:flex;
       flex-direction: column;
       select, input, textarea{
           font-size: 1.5em;
           padding: 5px;
           margin: 10px;
       }
   }
}
.contact-numbers{
   display: flex;
   span{
   color: #87b8c0;
}
}
.c-div{
   background-color:#483d56;
   width: 50%;
   color: white;
   .innerc-div{
       // div{
           // display: flex;
       border-bottom: 1px solid;
       padding: 3em;
   }
}