@import "../styles/abstracts/variables.scss";

.header {
    display: flex;
    // flex-start, flex-end, center, baseline (aligns the flex items such as their baselines aligns)
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: solid 2px $text-color;
    height: 3.5em;
    width: 100%;
}
.parent-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  //Overflow:hidden just says if text flows outside of this element the scrollbars don't show.
    background-color: #333;
}

.parent-menu{
    width: 100%;
}
.parent-menu li {
    float: left;
}
.parent-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}
/* put black cover if hover on element except active element */
.parent-menu li a:hover:not(.active) {
    background-color: #111;
}
.parent-menu .active{
    background-color: #4CAF50;
}
.parent-container {
    padding-left: 10px;
}
// .bn {
//     float: right;
//     border: 1px solid;
//     width: 300px;
//     height: 400px;
// }

// .zx {
//     list-style: none;
//     padding: 0;
//     margin: 0 0 1em 0;
// }

nav ul {
    list-style-type: none;
    margin-right: 15px;
}



