<section class="contact-pop">
    <div class="contact-div">
        <h1>How can we help?</h1>
        <div>
            <select name="" id="">select
                <option value="">What would you like to talk about?</option>
            </select>
            <input type="text" placeholder="Your full name">
            <input type="text" placeholder="Email address">
            <input type="text" placeholder="Organization">

            <input type="text" placeholder="Phone number">

            <input type="text" placeholder="Subject">
            <textarea name="" id="" cols="30" rows="5" placeholder="Let us know how we can help..."></textarea>
            <input type="text" placeholder="Facebook">
            <input type="text" placeholder="twitter">
            <button class="btn-cmn">Send your message</button>
        </div>
    </div>

    <div class="c-div">

        <div class="innerc-div">
            <h1>Need some help?</h1>
            <button>visit help centre</button>
            <p>email: support&#64;xyz.com</p>
            <p>Twitter:&#64;xyz</p>
        </div>
        <div class="innerc-div">
            <h1>get in touch</h1>
            <p>email&#64;xyz.com</p>
            <div class="contact-numbers">
                <div style="width:50%">
                    <span>America</span>
                    <h6>+19156151561</h6>
                    <span>Europe</span>
                    <h6>+19156151561</h6>
                </div>
                <div>
                    <span>ASIA PACIFIC</span>
                    <h6>+19156151561</h6>


                    <span>AMERICA</span>
                    <h6>+19156151561</h6>
                </div>
            </div>
        </div>
        <div class="innerc-div">
            <h1>our locations</h1>
            <h3>LONDON</h3>
            <address>
                Sixth Floor
                20
            </address>
            <h3>GURGAON</h3>
            <address>
                Building 14B
                DLF Cyber City
                Gurgaon 122002
                India
            </address>
        </div>

    </div>
</section>


<ul class="menu-button">
    <li><a href="#">item 1</a></li>
    <li><a href="#">item 2</a></li>
    <li><a href="#">item 3</a></li>
    </ul>
    <p>hello</p>

    <p class="p1">test1</p>
<p class="p2">test2</p>
<p class="p3">test3</p>
<p class="p4">test4</p>

<p class="p_pink">This is first paragraph.</p>
<p class="p_violet">This is second paragraph.</p>
<p class="p_yellow">This is third paragraph.</p>
<p class="p_blue">This is fourth paragraph.</p>
